<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java_chatroom.mapper.GroupChatMapper">
    <insert id="createGroupChat" parameterType="com.example.java_chatroom.model.GroupChat">
        INSERT INTO group_chat (groupName, createdBy, sessionId)
        VALUES (#{groupName}, #{createdBy}, #{sessionId})
    </insert>
    <select id="countGroupChatBySessionId" resultType="int">
        SELECT COUNT(*) FROM group_chat WHERE sessionId = #{sessionId}
    </select>
    <select id="getGroupChatBySessionId" parameterType="int" resultType="com.example.java_chatroom.model.GroupChat">
        SELECT * FROM group_chat WHERE sessionId = #{sessionId}
    </select>
    <delete id="exitGroup">
        delete from message_session_user where sessionId=#{sessionId} and userId=#{userId}
    </delete>
</mapper>
