<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java_chatroom.mapper.GroupChatMapper">
    <insert id="createGroupChat" parameterType="com.example.java_chatroom.model.GroupChat">
        INSERT INTO group_chat (groupName, createdBy, sessionId)
        VALUES (#{groupName}, #{createdBy}, #{sessionId})
    </insert>
    <select id="countGroupChatBySessionId" resultType="int">
        SELECT COUNT(*) FROM group_chat WHERE sessionId = #{sessionId}
    </select>
    <select id="getGroupChatBySessionId" parameterType="int" resultType="com.example.java_chatroom.model.GroupChat">
        SELECT * FROM group_chat WHERE sessionId = #{sessionId}
    </select>
    <insert id="exitGroup">
        insert into group_user_delete (sessionId,userId,deleteTime) values (#{sessionId},#{userId},now())
    </insert>
    <select id="isInGroupChat" resultType="int">
        select COUNT(*) from group_user_delete where sessionId=#{sessionId} and userId=#{userId}
    </select>
    <delete id="deleteGroupUser">
        delete from group_user_delete where sessionId=#{sessionId} and userId = #{userId}
    </delete>
    <select id="getDeleteGroupTime" resultType="java.util.Date">
        select deleteTime from group_user_delete where sessionId=#{sessionId} and userId = #{userId}
    </select>
    <select id="selectAllUsers" resultType="java.lang.Integer">
        select userId from message_session_user where sessionId=#{sessionId}
    </select>
    <insert id="inviteFriend">
        insert into message_session_user (sessionId,userId,isDeleted) values (#{sessionId},#{friendId},false)
    </insert>
</mapper>
